body {
background-image: url(images/fondo.png);

}


div {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-color: black;
}
/*
border radius es para que los bordes sean redondos
*/
.banner{
    background-image: url(images/sanfrancisco.jpg);
    background-size: 100%;
    height: 200px;
    border-radius: 5px;
    background-repeat: no-repeat;
    position: relative;
}

.separador {
    margin: auto;
    display: block;
}

/* nav li es el menu de navegacion inline para que sea todo una linea
tambien ponemos el texto alineado a la derecha.
*/
nav {
    text-align: right;
    margin-right: 125px;
    margin-bottom: 0%;
    font-size: 25px;
}

nav li{
    display:inline;
    
}

